# room-booking-system/* linguist-documentation=false
room-booking-system/* linguist-vendored=false
# room-booking-systemTest/* linguist-documentation=false
room-booking-systemTest/* linguist-vendored=false
